// Load CSS Reset from NPM
@import "~normalize.css";

ul .do::after {
  content: '.';
}

@media print {
  body > div {
    margin: 0 !important;
  }
}

hr {
  border-color: gray 0;
  border-style: solid;
  border-width: 2px 0 0;
  clear: both;
  margin: 0 0 0;
  height: 0;
}

#content {
  .title,
  hr {
    page-break-after: avoid;
  }
}
